
#home{
    position: relative;
}


#card{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1.0s;
    transform-origin: right center;
}

#card div{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

#card .panelOne{
    background: url("../../img/home.png") no-repeat;
    background-size: 100%;
}
#card>.panelOne button{
    width: 1.4rem;
    height: 0.5rem;
    margin-left: -0.7rem;
    left: 50%;
    top: 3.65rem;
}

#card .panelTwo{
    background: url("../../img/home-2.png") no-repeat;
    background-size: 100%;
    transform: rotateY( 180deg );
}

#card>.panelTwo button{
    color: rgba(0, 0, 0, 0);
    background: none;
    border: none;
    position: absolute;
    width: 1.4rem;
    height: 0.5rem;
    margin-left: -0.7rem;
    left: 50%;
    top: 3.65rem;
}

#home.page2 .panelOne button{
    display: none;
}



#home.page2{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 125%;
}

#home .panelThree{
    background: url("../../img/page-2.png") no-repeat;
    background-size: 100%;
    height: 125%;
}

#home .panelThree button{
    color: rgba(0, 0, 0, 0);
    background: none;
    border: none;
    position: absolute;
    width: 1.4rem;
    height: 0.5rem;
    margin-left: -0.7rem;
    left: 50%;
    top: 5.4rem;
}


/*当卡片翻转后，#card需要一个相应的翻转后的样式。*/
#card.goNext {
    /*transform: rotateY( 180deg );*/
    transform: translateX( -100% ) rotateY( 180deg );
}


